#projects {
  display: flex;
  flex-direction: column;

  overflow-x: hidden;
}

#projects h1 {
  font-size: 4.8rem;
  padding-bottom: 6rem;
}

.swiper--container {
  display: flex;
  align-items: center;

  height: 38rem;
}

.project {
  display: flex;

  cursor: pointer;

  border-radius: 1.5rem;
  border: 3px solid var(--border-separator-color);

  width: 35vw;
  height: 38rem;

  overflow: hidden;
}

.project--info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  width: 100%;

  padding: 2rem;
}

.project--info p {
  text-wrap: wrap;
}

.project--info h2 {
  font-size: 2.2rem;
}

.logos--slide.project--style {
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.logos--slide.project--style .item {
  padding: 0;
}

.logos--slide.project--style p {
  font-size: 1.4rem;
  font-weight: 600;
}

.logos--slide.project--style img {
  width: 3rem;
}

.project--access {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 10px;
}

.project--access a {
  border: 2px solid var(--primary-text-color);
  border-radius: 0.75rem;
}

.project--access a button {
  display: flex;
  align-items: center;
  gap: 10px;
  border: none;

  color: var(--primary-text-color);
  background: none;
  padding: 1rem 1rem;

  cursor: pointer;
}

.project--access a:hover {
  border-color: var(--section-color);
}

.project--image {
  width: 100%;
}

.project--image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media only screen and (max-width: 1024px) {
  .project {
    width: 70vw;
  }

  .logos--slide.project--style p {
    font-size: 1.2rem;
  }
}

@media only screen and (max-width: 524px) {
  .project {
    height: 40rem;
  }
}
