#formations {
  position: relative;

  display: flex;
  flex-direction: column;

  background-color: var(--section-color);
}

#formations::after {
  content: "";

  position: absolute;
  top: 0;
  right: 0;

  width: 100vw;
  height: 100%;

  background-color: var(--section-color);
  z-index: -11;
}

#formations::before {
  content: "";

  position: absolute;
  top: 0;
  left: 0;

  width: 100vw;
  height: 100%;

  background-color: var(--section-color);
  z-index: -1;
}

#formations h1 {
  font-size: 4.8rem;
  padding-bottom: 6rem;
}

.formations {
  display: flex;
  justify-content: center;

  overflow-x: auto;
}

.project--item {
  display: flex;
  gap: 0px;

  height: 57rem;
}

.header {
  display: flex;
  justify-content: space-between;

  font-weight: 700;

  writing-mode: vertical-lr;

  border-left: 1px solid var(--border-separator-color);
  border-right: 1px solid var(--border-separator-color);

  background-color: var(--btn-color);

  padding: 1rem;

  cursor: pointer;
}

.header:hover,
.project--item.active .header {
  background-color: var(--bg-color);

  cursor: pointer;
}

.header:checked {
  background-color: var(--bg-color);
}

.header p {
  font-size: 1.6rem;
  color: var(--primary-text-color);
}

.formation-body {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  /* gap: 20px; */
  padding-inline: 2rem;

  max-width: 60rem;
  width: auto;
  min-height: 100%;

  overflow: hidden;
}

.formation-body header {
  display: flex;
  align-items: center;
  gap: 30px;

  padding-inline: 2rem;
}

header .course-logo img {
  min-width: 100%;
  height: 100%;

  width: 6rem;
}

header .course-title h3 {
  font-size: 2.6rem;
}

.company-info {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.company-info p {
  font-size: 1.4rem;
}

.formation-body .description {
  max-height: 15rem;
  height: auto;
  overflow-y: auto;
  font-size: 1.8rem;
}

.formation-body .separator {
  border-top: 1px solid var(--border-separator-color);
}

.teacher-info {
  display: flex;
  align-items: center;
  gap: 10px;
}

.teacher-info img {
  width: 6rem;
  height: auto;

  border-radius: 50%;

  padding: 0.3rem;

  border: 3px solid var(--border-separator-color);
}

.teacher-info h2 {
  font-size: 2.2rem;
}

.teacher-contact {
  display: flex;
  gap: 20px;
  padding-top: 2rem;
}

.teacher-contact a {
  border: 1px solid var(--border-separator-color);
  border-radius: 0.75rem;
}

.teacher-contact a ion-icon {
  font-size: 2.5rem;
  padding: 1rem;
}

.teacher-contact a:hover {
  background-color: var(--bg-color);
  transform: scale(1.1);
  transition: transform 0.5s;
}

.accordion-content {
  background-color: var(--bg-formation-color);
  overflow: hidden;
}
.accordion-content[data-state="open"] {
  animation: slideRight 1000ms ease-in;
}

@keyframes slideRight {
  from {
    width: 40%;
  }
  to {
    width: 100%;
  }
}

@media only screen and (max-width: 648px) {
  header .course-logo {
    width: 4rem;
  }

  header .course-title h3 {
    font-size: 2rem;
  }
}

@media only screen and (max-width: 468px) {
  header .course-title h3 {
    font-size: 1.6rem;
  }

  .company-info p {
    font-weight: 400;
    font-size: 1rem;
  }
}
