@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  text-decoration: none;
  list-style-type: none;
  font-size: 1.6rem;

  outline: none;
  border: none;

  font-family: "Poppings", sans-serif;
}

*::selection {
  color: #fff;
  background-color: var(--secondary-text-color);
}

:root {
  font-size: 62.5%;
  -webkit-text-size-adjust: 100%;

  --swiper-scrollbar-bg-color: rgb(184, 84, 228, 0.1);
  --swiper-scrollbar-drag-bg-color: rgb(184, 84, 228, 0.5);

  --swiper-navigation-size: 44px;
  --swiper-navigation-top-offset: 50%;
  --swiper-navigation-sides-offset: 10px;
  --swiper-navigation-color: #b854e4;
}

body {
  min-height: 100vh;
  background-color: var(--bg-color);
  overflow-x: hidden;

  max-width: 120rem;
  margin: 0 auto;
}

body.dark {
  --bg-color: #14121f;
  --section-color: #291f43;
  --border-separator-color: #473876;
  --btn-color: #6e56cf;
  --secondary-text-color: #baa7ff;
  --primary-text-color: #e2ddfe;
  --bg-formation-color: #27272a;
  --border-separator-color: #473876;

  color: var(--primary-text-color);
}

body.light {
  --bg-color: #f4f4f5;
  --section-color: #e2ddfe;
  --btn-color: #baa7ff;

  --bg-formation-color: #d8d8d5;
  --border-separator-color: #473876;

  --secondary-text-color: #14121f;
  --primary-text-color: #291f43;
}

.section {
  padding: 7rem 6rem;
}

@media only screen and (max-width: 1024px) {
  .section {
    padding-inline: 0.5rem;
  }
}

/* .app::after {
  content: "";
  position: fixed;
  top: 0;
  left: 0;

  z-index: -11;

  display: block;

  background-image: url("../../public/imgs/bg-img.jpg");
  min-width: 100%;
  height: 100%;

  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(8px);
} */
