nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 2rem 1rem;
  padding-inline: 4rem;
  width: 100vw;
  max-width: 120rem;
  margin: 0 auto;
}

nav.sticky {
  position: fixed;
  width: 100vw;
  background-color: var(--secondary-text-color);

  transition: all 0.3s;

  z-index: 11;
}

nav.sticky::after {
  content: "";

  position: absolute;
  top: 0;
  right: 0;

  width: 100vw;
  height: 100%;

  background-color: var(--secondary-text-color);

  z-index: -1;
}

nav.sticky::before {
  content: "";

  position: absolute;
  top: 0;
  left: 0;

  width: 100vw;
  height: 100%;

  background-color: var(--secondary-text-color);

  z-index: -1;
}

.section-list {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  gap: 5px;

  border-radius: 0.75rem;
}

.btn-menu,
.btn-theme,
.section-list ul {
  display: flex;
  align-items: center;

  border: none;
  border-radius: 0.75rem;

  height: 4.5rem;
  padding: 2rem 1.5rem;

  background-color: var(--btn-color);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;

  cursor: pointer;
}

.moon-icon,
.menu-icon,
.close-icon {
  color: var(--primary-text-color);
}

.section-list ul {
  display: flex;
  gap: 30px;

  padding: 2rem 3rem;
}

.section-list ul li:hover {
  text-decoration: underline;
  text-decoration-color: var(--link-color);
}

.section-list ul a {
  color: var(--link-color);
  font-size: 2.4rem;
}

.config {
  display: flex;
  align-items: center;
  gap: 20px;
}

.nav-btn {
  display: none;
  opacity: 0;
  visibility: hidden;
}

@media only screen and (max-width: 748px) {
  .section-list ul {
    gap: 20px;
    padding-inline: 1.5rem;
  }

  .section-list ul a {
    font-size: 1.8rem;
  }
}

@media only screen and (max-width: 520px) {
  .section-list ul {
    gap: 10px;

    padding-inline: 0.5rem;
  }

  .btn-menu,
  .btn-theme {
    padding: 1rem;
  }

  .section-list ul a {
    font-size: 1.4rem;
  }
}
