nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 2rem;

  max-width: 120rem;
  margin: 0 auto;
}

nav.sticky {
  position: fixed;
  width: 100vw;
  background-color: var(--secondary-text-color);

  transition: all 0.3s;

  z-index: 11;
}

.section-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;

  border-radius: 0.75rem;
}

.btn-menu,
.btn-theme {
  display: flex;
  align-items: center;

  border: none;
  border-radius: 0.75rem;

  width: 100%;
  height: 4.5rem;
  padding: 2rem 1.5rem;

  background-color: var(--btn-color);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;

  cursor: pointer;
}

.moon-icon,
.menu-icon {
  color: var(--primary-text-color);
}

.section-list ul {
  display: flex;
  gap: 20px;
}

.section-list ul li:hover {
  text-decoration: underline;
}

.section-list ul a {
  font-size: 1.8rem;
}

.config {
  display: flex;
  align-items: center;
  gap: 20px;
}
