nav {
  /* position: sticky;
  top: 0;
  left: 0; */

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 2rem 0.5rem;

  max-width: 120rem;
  margin: 0 auto;
}

.section-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;

  border-radius: 0.75rem;
}

.btn-menu {
  border: none;
  border-radius: 0.75rem;

  width: 100%;
  height: 4.5rem;
  padding: 1rem;

  background-color: #b854e4;

  cursor: pointer;
}

.section-list ul {
  display: flex;
  gap: 20px;
}

.section-list ul li:hover {
  text-decoration: underline;
}

.section-list ul a {
  font-size: 1.8rem;
}

.config {
  display: flex;
  align-items: center;
  gap: 20px;
}

.btn-theme {
  border: none;

  padding: 1.5rem;

  background-color: #010718;

  cursor: pointer;
}
